.footerFound{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:3rem;
    .footerContainer{
        background: transparent url('../../assets/Landing/LandFooter.svg') 0% 0% no-repeat padding-box;
        width: 100%;
        p{
            padding: 0.3rem 0;
        }
        padding: 0 2rem;
        .footerBox{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            direction: rtl;
            justify-items: center;
            padding-top: 2rem;
            .footerLi{
                padding: 0 1rem;
                .LiHead{
                    display: flex;
                    align-items: center;
                    img{
                        width: 31px;
                    }
                    h3{
                        padding-right:0.5rem;
                        font-weight: 600;
                    }
                }
                p{
                    line-height: 1.9rem;
                    cursor: pointer;
                    
                }
            }
        }
        .contactBox{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.2rem 0;
            direction: rtl;
            .contactLi{
              padding: 0 1.8%;
            }
        }
        .footerEnd{
           
            min-height: 160px;
            display: flex;
            justify-content: center;
            align-items: center;
    
            h4{
                padding-top: 2rem;
                font-weight: 600;
                color: #d3d1d1;
            }
        }
    }
}

//! Media Query //
@media screen and (max-width: 1000px) {
   .footerFound{
    padding-left:0;
    .footerContainer{
        .footerBox{
            padding-top: 0;
            display: grid;
            grid-template-columns: 1fr;

            .footerLi{
                padding: .4rem;
                
            }
        }
    }
   }
}
@media screen and (max-width: 520px) {
    .footerFound{
        .footerContainer{
            .footerBox{
                padding-top: 0;
                display: grid;
                grid-template-columns: 1fr;
    
                .footerLi{
                    padding: .4rem;
                    .footerLii{
                        display: none;
                    }
                    
                }
            }
        }
    }
}