.offContainer{
    padding-bottom: 3rem;
    .offBox{
        position: relative;
        .offImg{
            width: 100%;
            height: 500px;
        }
        .offWrapper{
            position: absolute;
            top: 20px;
            right: 0;
            .offBody{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                .bodyLi{
                    padding: 0 1rem;
                }
            }
            .offSubject{
                display: flex;
                padding-top: 1rem;
                padding-bottom: 2.4rem;
                padding-right: 3rem;
                direction: rtl;
                align-items: center;
                .subjectLi{
                    padding: 0 2rem;
                }
            }
        }
    }
    .offMobile{
        display: none;
    }
}
@media screen and(max-width: 770px){
    .offContainer{
        .offBox{
            display: none;
        }
        .offMobile{
            display: block;
            background: rgb(113,107,108);
            background: linear-gradient(90deg, rgba(113,107,108,1) 7%, rgba(34,33,33,1) 100%);
            width: 100%;
            .offMobileWrapper{
                padding: 1rem;
                .offHeader{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .headerLi{
                        width: 180px;
                        padding: 1rem;
                    }
                }
                .offBody{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1.5rem;
                    
                }
            }
        }
    }
}
@media screen and(max-width: 410px){
    .offMobile{
        .offMobileWrapper{
            .offHeader{
                padding: 1rem 0;
                .headerLi{
                    padding:  0 .2rem !important;
                }
            }
        }
    }
}