.drawerList{
    direction: rtl;
    background-color: "#EFEFEF";
    position: absolute;
    top: 20px;
    .drawerListItem{
        padding: 1.4rem 0;
        .drawerListText{
            text-align: start;
        }
        .drawerListIcon{
            justify-content: center;
            align-items: center;
            
        }
    }
}
