.titleContainer{
    padding: 1rem 4rem;
    padding-top: 3rem;
    .titleBox{
        display: flex;
        justify-content: center;
        align-items: center;
        .line{
            img{
                width: 100%;
            }
        }
        .titleMain{
           transform: translateX(10px);
           padding: 0 1rem;
            img{
                width: 100%;
                
            }
        }
    }
}
@media screen and(max-width: 800px){
    .titleContainer{
        padding: 1rem;
        .titleBox{
            .line{   
                img{
                    width: 100%;
                    height: 2px;
                }
            }
            .titleMain{
                 img{
                     width: 310px;
                 }
             }
        }
    }
}