@font-face {
  font-family: "YekanBalkh";
  src: local("YekanBalkh"),
   url('./utils/YekanBakh-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: "Alfont";
  src: local("YekanBalkh"),
   url('./utils/alfont_com_AlFont_com_Yekan-Bakh-EN-04-Regular.ttf');
  
}
body {
  margin: 0;
  font-family: YekanBalkh, Alfont, 

    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EFEFEF;
  overflow-x: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar{
  width: 14px;
}
::-webkit-scrollbar-track{
  background-color: #EFEFEF;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(180, 20, 20);
  border-radius: 20px;
}